/* Layout */

body, html {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
} 

h1 {
    padding: 2rem 0rem 0.5rem;
}

h6 {
    font-weight: 600;
    font-style: italic;
}

a {
    color: #4e4e56;
}

a:hover {
    color: #249999;
}

.btn {
    border-radius: 5px;
}

.btn-info:hover {
    color: #c5f0f9;
}

.btn-success {
    background-color: #4ef8f8;
    border-color: #4ef8f8;
    color: #4e4e56;
}

.btn-success:hover {
    background-color: #3adcdc;
    border-color: #3adcdc;
    color: #fff;
}
.dashboard {
    background-color: #f4f4f6;
    -webkit-box-shadow:inset 0px 0px 0px 10px #fff;
    -moz-box-shadow:inset 0px 0px 0px 10px #fff;
    box-shadow:inset 0px 0px 0px 10px #fff;
    height: 275px;
}

.dashboard a {
    color: #4e4e56;
    text-decoration: none;
}

.dashboard img {
    transition: filter 2s ease-in-out;
}

.dashboard img:hover {
    filter: contrast(0.5);
    transform: scale(1.1);
}

.alert-success {
    color: #04677b;
    background-color: #b0ebf7;
    border-color: #a6dee9;
  }

  .alert-danger {
    color: #bb417895;
    background-color: #f77fb535;
    border-color: #f77fb525;
  }
 
 /* Header */

 .bg-light {
     height: 75px;
     background: #f4f4f6;
 }

 a.navbar-brand img {
     max-width:150px;
 }

 .navbar-light .navbar-nav .nav-link {
    color: #4e4e56;
    font-size: 1em;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link { padding-right: 1.5rem; padding-left: 1.5rem; }
}

 /* Form */

 #intro p {
    font-size: 1.2rem;
 }

[data-tooltip]:before {
    content: attr(data-tooltip);
}

.form-section {
    display:none;
  }

.form-section.current {
    display: inherit;
  }

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    color:red;
  }

.sr-only {
    border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    margin-top: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form-control::placeholder {
    color: #909294;
}


.application-form .form-control {
    padding: 1.5rem 1rem 1rem 1rem;
}

.form-control-file-upload {
    padding: .375rem .75rem !important;
}

select:invalid {
    color: #909294;
 }

.card {
    padding: 0;
 }


 #filter-buttons a,
 #filter-buttons a.active {
     background: transparent;
     border: transparent;
     color: #4e4e56;
     font-size: 1.2rem;
     text-transform: uppercase;
     text-decoration: none;
 }

#filter-buttons a::before {
    content: url('/img/square.svg');
    height: 28px;    
    margin: 0;
    padding: 0;
    position: relative;
    right: 5px;
    top: 1px;
    width: 28px;
}

#filter-buttons a.link,
#filter-buttons a.hover,
#filter-buttons a.active,
#filter-buttons a.visited
 {
     border: none;
}

#filter-buttons a.active::before {
    content: url('/img/square-fill.svg');
    height: 28px;    
    margin: 0;
    padding: 0;
    position: relative;
    right: 5px;
    top: 1px;
    width: 28px;
}
.application-form label {
    position: absolute;
    margin: 2px 0 0px 10px;
    color: #ccc;
    text-transform: uppercase;
    font-size: .85em;
 }

 .file-upload-label {
     position: relative !important;
 }

.application-form label.long-label {
    color: #909294;
    font-style: italic;
    font-size: .95em;
    text-transform: none;   
 }

.application-form label.form-check-label {
    color: #212529; 
    font-size: 1.1em;
    font-weight: 500;
    margin-top: -1px;
    text-transform: none; 
 }

.mr-1 {
    margin-right: 0.25rem !important;
 }

 .btn-transparent {
     background: transparent;
     border: transparent;
 }

 .btn {
    border: 2px;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
 }

 .btn-secondary {
    background-color: #acacb7;
    border-color: #acacb7;
  }

.btn-secondary:hover {
    background: #0dcaf0;
    border-color: #0dcaf0;
    color: #fff;
}

.btn-secondary:active {
     background: #fff !important;
     border-color: #0dcaf0 !important;
     color: #0dcaf0 !important;
 }

.btn-link {
    color: #0dcaf0;
}

.btn-link:hover {
    color: #0ca5c4;
}

.form-check-input:checked {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
  }

 span.application-status {
    color: #b9b9b9; 
    font-style: italic;
 }

 p.application-history {
     font-size: 0.9rem;
 }

.category-update-header {
    font-weight: bold;
    font-style: italic;
}
 /* Modal */

 .modal {
     background:#ccc9;
     text-align: center;
 }

 .modal-header {
     border-bottom: 0;
     font-weight: 600;
     justify-content: space-around;     
 }

 .modal-body p {
     font-size: 1.15rem;
 }

 .modal-footer {
     border-top: 0;
     justify-content: space-around;
 }